<div class="gb_ud gb_0d gb_2d" style="background-color:#2a56c6">
    <div class="gb_sc gb_Kd">
        <div class="gb_8b" aria-expanded="true" aria-label="เมนูหลัก" role="button" tabindex="0">
            <svg viewBox="0 0 24 24">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </div>
        <div class="gb_8b gb_bc gb_5a" aria-label="ย้อนกลับ" role="button" tabindex="0">
            <svg viewBox="0 0 24 24">
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
            </svg>
        </div>
        <div class="gb_1b">
            <div class="gb_2b">
                <a class="gb_8d gb_4b gb_ge" href="/" title="รายชื่อติดต่อ">
                    <span class="gb_Xa gb_vc"></span>
                    <span class="gb_9d gb_5d">รายชื่อติดต่อ</span>
                </a>
            </div>
        </div>
        <div class="gb_sc gb_5a gb_Lc gb_5d">
            <span class="gb_Mc"></span>
        </div>
    </div>
    <div class="gb_sc gb_Hd gb_Sd gb_Od">
        <div class="gb_Dd">
            <form class="gb_se" aria-expanded="false" method="get">
                <button class="gb_Me" aria-label="ค้นหา" role="button">
                    <svg height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
                <button class="gb_We" aria-label="ปิดการค้นหา" type="button">
                    <svg height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                    </svg>
                </button>
                <div class="gb_2e">
                    <div class="gb_Ke gb_3e">
                        <div class="TMT2L" jscontroller="U4Hp0d" jsaction="rcuQ6b:rcuQ6b;fRPOBb:ti6hGc;isz31c:ZYIfFd;">
                            <div class="Mxgq5c" jsname="haAclf" jscontroller="dIAPab" jsaction="v819Lb:XfTnxb;CLIdJb:O1htCb;ayitRe:AHmuwe;iIaGdd:O22p3e; keydown:I481le;" jsmodel="EsjhGf">
                                <div class="L6J0Pc VOEIyf g4E9Cb" jscontroller="Mq9n0c" jsaction="keydown:I481le; focus: AHmuwe;AHmuwe:AHmuwe; mouseenter:npT2md;Mu8aMc:YPqjbf;Edq9ub:SDqDXe;e0gSlf:pX1iqf;" data-close-on-blur="true" jsname="h0T7hb" data-renderer="vWSFcb" data-service="Fq6ekc">
                                    <div class="d1dlne" jscontroller="K99qY" jsname="YPqjbf" style="position: relative" data-placeholder="ค้นหา" data-showhint="true" data-throttle-time="150" data-expanded="false">
                                        <input class="yNVtPc ZAGvjd" disabled="true" aria-hidden="true" jsname="A51lKb" value="ค้นหา" dir="ltr">
                                        <input class="Ax4B8 ZAGvjd" type="text" autocomplete="off" aria-label="ค้นหา" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" role="combobox" jsname="dSO9oc" jsaction="input:YPqjbf; keydown:I481le; click:cOuCgd" aria-controls="nngdp167">
                                    </div>
                                    <div class=" tWfTvb">
                                        <div class="u3WVdc jBmls" tabindex="-1" role="listbox" data-expanded="false" data-childcount="0" jsname="iuXDpb" jsaction="mousedown:npT2md(preventDefault=true);" id="nngdp167" style="max-height: 906px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="gb_Xe" aria-label="ล้างการค้นหา" type="button">
                    <svg height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="gb_tc gb_hb gb_sc gb_Td" ng-non-bindable="">
        <div class="gb_uc">
            <div class="gb_da gb_Zc gb_R gb_ff" id="gbwa">
                <div class="gb_Fc">
                    <a class="gb_b" aria-label="แอป Google" href="https://www.google.co.th/intl/th/options/" aria-expanded="false" role="button" tabindex="0">
                        <svg class="gb_4d" viewBox="0 0 24 24">
                            <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"></path>
                        </svg>
                    </a>
                    <div class="gb_mb"></div>
                    <div class="gb_lb"></div>
                </div>
            </div>
            <div class="gb_Cc gb_Zc gb_R gb_Dc gb_ff">
                <div class="gb_Fc">
                    <a class="gb_b" aria-haspopup="true" role="button" tabindex="0" aria-expanded="false" aria-label="มีการแจ้งเตือน 0 รายการจาก Google">
                        <div class="gb_ie gb_Ic">
                            <div class="gb_he">0</div>
                            <svg class="gb_3d" viewBox="0 0 24 24">
                                <path d="M12,2C6.5,2,2,6.5,2,12c0,5.5,4.5,10,10,10s10-4.5,10-10C22,6.5,17.5,2,12,2z M12,18c-0.6,0-1-0.5-1-1h2 C13,17.5,12.5,18,12,18z M17,16H7v-0.6l1.2-1.2v-3c0-1.9,1-3.4,2.8-3.8V6.9C11.1,6.4,11.5,6,12,6s0.9,0.4,0.9,0.9v0.4 c1.8,0.4,2.8,2,2.8,3.8v3l1.2,1.2V16z"></path>
                            </svg>
                        </div>
                    </a>
                    <div class="gb_mb"></div>
                    <div class="gb_lb" style="border-bottom-color:#eee"></div>
                </div>
            </div>
            <div class="gb_eb gb_Zc gb_og gb_R gb_ff">
                <div class="gb_Fc gb_gb gb_og gb_R">
                    <a class="gb_b gb_cb gb_R" aria-label="บัญชี Google: Zecret Zoro (zoroearth@gmail.com)" href="https://accounts.google.com/SignOutOptions?hl=th&amp;continue=https://contacts.google.com/" role="button" tabindex="0" aria-expanded="false">
                        <span class="gb_7a gbii"></span>
                    </a>
                    <div class="gb_mb"></div>
                    <div class="gb_lb"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="gb_ga gb_fa gb_za gb_ha" aria-label="แอป Google" aria-hidden="true" role="region" style="max-height: 875px; height: 496px;">
        <ul class="gb_ia gb_ba" aria-dropeffect="move">
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:0">
                <a class="gb_O" data-pid="119" href="https://plus.google.com/u/0/?tab=CX" id="gb119">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1380px"></span>
                    <span class="gb_3">Google+</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:1">
                <a class="gb_O" data-pid="1" href="https://www.google.co.th/webhp?tab=Cw" id="gb1">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -69px"></span>
                    <span class="gb_3">ค้นหา</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:2">
                <a class="gb_O" data-pid="8" href="https://maps.google.co.th/maps?hl=th&amp;tab=Cl" id="gb8">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1794px"></span>
                    <span class="gb_3">Maps</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:3">
                <a class="gb_O" data-pid="23" href="https://mail.google.com/mail/?tab=Cm" id="gb23">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -759px"></span>
                    <span class="gb_3">Gmail</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:4">
                <a class="gb_O" data-pid="49" href="https://drive.google.com/?tab=Co&amp;authuser=0" id="gb49">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1104px"></span>
                    <span class="gb_3">ไดรฟ์</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:5">
                <a class="gb_O" data-pid="51" href="https://translate.google.co.th/?hl=th&amp;tab=CT" id="gb51">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -690px"></span>
                    <span class="gb_3">แปลภาษา</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:6">
                <a class="gb_O" data-pid="24" href="https://www.google.com/calendar?tab=Cc" id="gb24">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1587px"></span>
                    <span class="gb_3">ปฏิทิน</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:7">
                <a class="gb_O" data-pid="31" href="https://photos.google.com/?tab=Cq&amp;pageId=none" id="gb31">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -621px"></span>
                    <span class="gb_3">ภาพถ่าย</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:8">
                <a class="gb_O" data-pid="192" href="https://myaccount.google.com/?utm_source=OGB&amp;utm_medium=app" id="gb192">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -966px"></span>
                    <span class="gb_3">บัญชีของฉัน</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:9">
                <a class="gb_O" data-pid="36" href="https://www.youtube.com/?gl=TH" id="gb36">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1518px"></span>
                    <span class="gb_3">YouTube</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:a">
                <a class="gb_O" data-pid="5" href="https://news.google.co.th/nwshp?hl=th&amp;tab=Cn" id="gb5">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -414px"></span>
                    <span class="gb_3">ข่าว</span>
                </a>
            </li>
        </ul>
        <div class="gb_va gb_5a">
            <div class="gb_4 gb_2" style="background-position:0 -1656px"></div>
            <div class="gb_wa">
                <div class="gb_xa">รายชื่อติดต่อ</div>
                <a class="gb_ya gb_Bf" href="#">เพิ่มทางลัด</a>
            </div>
        </div>
        <a class="gb_ja gb_Bf" aria-label="แอปอื่นๆ ของ Google" href="https://www.google.co.th/intl/th/options/" aria-expanded="false" aria-hidden="true" style="">อื่นๆ</a>
        <span class="gb_ka"></span>
        <ul class="gb_ia gb_ca" aria-dropeffect="move" aria-hidden="true">
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:b">
                <a class="gb_O" data-pid="25" href="https://docs.google.com/document/?usp=docs_alc&amp;authuser=0" id="gb25">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1932px"></span>
                    <span class="gb_3">เอกสาร</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:c">
                <a class="gb_O" data-pid="53" href="https://www.google.com/contacts/?hl=th&amp;tab=CC" id="gb53">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -1656px"></span>
                    <span class="gb_3">รายชื่อติดต่อ</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:d">
                <a class="gb_O" data-pid="300" href="https://hangouts.google.com/" id="gb300">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 0"></span>
                    <span class="gb_3">แฮงเอาท์</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:e">
                <a class="gb_O" data-pid="136" href="https://keep.google.com/u/0" id="gb136">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_M"></span><span class="gb_3">Keep</span>
                </a>
            </li>
            <li class="gb_Z" aria-grabbed="false" id="ogbkddg:f">
                <a class="gb_O" data-pid="265" href="https://classroom.google.com/?authuser=0" id="gb265">
                    <div class="gb_7"></div>
                    <div class="gb_8"></div>
                    <div class="gb_9"></div>
                    <div class="gb_aa"></div>
                    <span class="gb_2" style="background-position:0 -828px"></span>
                    <span class="gb_3">Classroom</span>
                </a>
            </li>
        </ul>
        <a class="gb_ka gb_wf" href="https://www.google.co.th/intl/th/options/" aria-hidden="true">บริการอื่นๆ จาก Google</a>
    </div>
    <div class="gb_fa" id="gbsfw" style="background-color:#eee;min-width:376px" aria-hidden="true">
        <iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="width: 376px; height: 380px;" tabindex="0" vspace="0" width="100%" class="gb_Xb" allowtransparency="true" aria-hidden="true" id="I0_1504063582678" name="I0_1504063582678" src="https://notifications.google.com/u/0/widget?sourceid=53&amp;hl=th&amp;origin=https%3A%2F%2Fcontacts.google.com&amp;uc=1&amp;usegapi=1&amp;jsh=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.gapi.en.ellQXbSf-LI.O%2Fm%3D__features__%2Fam%3DAAg%2Frt%3Dj%2Fd%3D1%2Frs%3DAHpOoo9jm0At0b0B7I7G3MSvlepU00mZfA#pid=53&amp;_methods=onError%2ConInfo%2ChideNotificationWidget%2CpostSharedMessage%2Creauth%2CsetNotificationWidgetHeight%2CsetNotificationWidgetSize%2CswitchTo%2CnavigateTo%2CsetNotificationText%2CsetNotificationAnimation%2CgetNotificationText%2CvalidateUser%2C_ready&amp;id=I0_1504063582678&amp;parent=https%3A%2F%2Fcontacts.google.com&amp;pfname=&amp;rpctoken=28004737"></iframe>
    </div>
    <div class="gb_nb gb_fa" aria-label="ข้อมูลบัญชี" aria-hidden="true">
        <div class="gb_qb">
            <a class="gb_rb gb_Bf gb_tb" aria-label="เปลี่ยนรูปโปรไฟล์" href="https://plus.google.com/u/0/me?tab=CX">
                <div class="gb_ub gbip" title="โปรไฟล์"></div>
                <span class="gb_ib">เปลี่ยน</span>
            </a>
            <div class="gb_sb">
                <div class="gb_vb gb_wb">Zecret Zoro</div>
                <div class="gb_xb">zoroearth@gmail.com</div>
                <div class="gb_pb">
                    <a href="https://plus.google.com/u/0/me?tab=CX">โปรไฟล์ Google+</a>
                    –<a href="https://myaccount.google.com/privacypolicy">ความเป็นส่วนตัว</a>
                </div>
                <a class="gb_Ea gb_yf gbp1 gb_pe gb_yb" href="https://myaccount.google.com/?utm_source=OGB&amp;utm_medium=act">บัญชีของฉัน</a>
            </div>
        </div>
        <div class="gb_Db">
            <div class="gb_Fb gb_5a" aria-hidden="true">
                <a class="gb_Hb gb_Ob" href="/?authuser=0&amp;pageId=none">
                    <img class="gb_Qb gb_tb" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="โปรไฟล์" data-src="https://lh3.googleusercontent.com/-0WAsfiKSI0o/AAAAAAAAAAI/AAAAAAAAAAA/APJypA0aUOsEDUR6aCrkc4rmZaeaqC_Kfw/s48-c-mo/photo.jpg">
                    <div class="gb_Jb">
                        <div class="gb_Rb">Zecret Zoro</div>
                        <div class="gb_Sb">zoroearth@gmail.com (ค่าเริ่มต้น)</div>
                    </div>
                </a>
            </div>
            <a class="gb_Ub gb_5a" href="https://myaccount.google.com/brandaccounts?authuser=0&amp;continue=https://contacts.google.com/&amp;service=/%3Fauthuser%3D%24authuser%26pageId%3D%24pageId" aria-hidden="true">
                <span class="gb_Vb gb_6b"></span>
                <div class="gb_Wb">บัญชีทั้งหมดของแบรนด์ »</div>
            </a>
        </div>
        <div class="gb_zb">
            <div>
                <a class="gb_Ea gb_xf gb_pe gb_yb" href="https://accounts.google.com/AddSession?continue=https://contacts.google.com/">เพิ่มบัญชี</a>
            </div>
            <div>
                <a class="gb_Ea gb_zf gb_Hf gb_pe gb_yb" id="gb_71" href="https://accounts.google.com/Logout" target="_top">ออกจากระบบ</a>
            </div>
        </div>
    </div>
</div>